table.customTable {
    width: 60%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #7EA8F8;
    border-style: solid;
    color: #000000;
  }
  
  table.customTable td, table.customTable th {
    border-width: 2px;
    border-color: #7EA8F8;
    border-style: solid;
    padding: 5px;
  }
  
  table.customTable thead {
    background-color: #7EA8F8;
  }

  .actions svg{
    margin-left: 5px;
  }
  .actions svg:hover{
    opacity: .5;
  }
  .activities{
    position: absolute;
    bottom: 70px;
  }
  .actividades-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
  }

  .seccion {
    flex-basis: 48%;
    padding: 10px;
  }

  .actividades {
    margin-bottom: 10px;
  }

  /* Estilos específicos de las actividades de recuperación */
  .actividades-recuperacion {
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
  }

  /* Ejemplo de ajuste de tamaño para el modal */

.swal2-popup{
  width: 70em !important;
}
